In [2]:
import numpy as np  
d = np.dtype(np.int32)  
print(d)  
print(np)

int32
<module 'numpy' from 'C:\\Users\\u1008487\\Anaconda3\\lib\\site-packages\\numpy\\__init__.py'>

In [4]:
import numpy as np  
d = np.dtype([('salary',np.float)])  
print(d)

[('salary', '<f8')]

In [5]:
import numpy as np  
d=np.dtype([('salary',np.float)])  
arr = np.array([(10000.12,),(20000.50,)],dtype=d)  
print(arr['salary'])

[10000.12 20000.5 ]

In [7]:
import numpy as np  
arr = np.empty((3,2), dtype = int)  
print(arr)

[[ 1752951184         265]
 [          0           0]
 [          1 -2147483648]]

In [8]:
import numpy as np  
arr = np.zeros((3,2), dtype = int)  
print(arr)

[[0 0]
 [0 0]
 [0 0]]

In [9]:
import numpy as np  
arr = np.ones((3,2), dtype = int)  
print(arr)

[[1 1]
 [1 1]
 [1 1]]

In [10]:
import numpy as np  
l=[1,2,3,4,5,6,7]  
a = np.asarray(l);  
print(type(a))  
print(a)

<class 'numpy.ndarray'>
[1 2 3 4 5 6 7]

In [11]:
import numpy as np  
l=(1,2,3,4,5,6,7)     
a = np.asarray(l);  
print(type(a))  
print(a)

<class 'numpy.ndarray'>
[1 2 3 4 5 6 7]

In [12]:
import numpy as np  
l=[[1,2,3,4,5,6,7],[8,9]]  
a = np.asarray(l);  
print(type(a))  
print(a)

<class 'numpy.ndarray'>
[list([1, 2, 3, 4, 5, 6, 7]) list([8, 9])]

C:\Users\u1008487\Anaconda3\lib\site-packages\numpy\core\_asarray.py:83: VisibleDeprecationWarning: Creating an ndarray from ragged nested sequences (which is a list-or-tuple of lists-or-tuples-or ndarrays with different lengths or shapes) is deprecated. If you meant to do this, you must specify 'dtype=object' when creating the ndarray
  return array(a, dtype, copy=False, order=order)

In [13]:
import numpy as np  
l = b'hello world'  
print(type(l))  
a = np.frombuffer(l, dtype = "S1")  
print(a)  
print(type(a))

<class 'bytes'>
[b'h' b'e' b'l' b'l' b'o' b' ' b'w' b'o' b'r' b'l' b'd']
<class 'numpy.ndarray'>

In [14]:
import numpy as np  
list = [0,2,4,6]  
it = iter(list)  
x = np.fromiter(it, dtype = float)  
print(x)  
print(type(x))

[0. 2. 4. 6.]
<class 'numpy.ndarray'>

In [15]:
import numpy as np  
arr = np.arange(0,10,2,float)  
print(arr)

[0. 2. 4. 6. 8.]

In [16]:
import numpy as np  
arr = np.arange(10,100,5,int)  
print("The array over the given range is ",arr)

The array over the given range is  [10 15 20 25 30 35 40 45 50 55 60 65 70 75 80 85 90 95]

In [19]:
import numpy as np  
arr = np.linspace(10, 20, 5)  
print("The array over the given range is ",arr)

The array over the given range is  [10.  12.5 15.  17.5 20. ]

In [20]:
import numpy as np  
arr = np.linspace(10, 20, 5, endpoint = False)  
print("The array over the given range is ",arr)

The array over the given range is  [10. 12. 14. 16. 18.]

In [21]:
import numpy as np  
arr = np.logspace(10, 20, num = 5, endpoint = True)  
print("The array over the given range is ",arr)

The array over the given range is  [1.00000000e+10 3.16227766e+12 1.00000000e+15 3.16227766e+17
 1.00000000e+20]

In [22]:
import numpy as np  
a = np.array([1,2,3,4,5,6,7])  
b = np.array([2,4,6,8,10,12,14])  
c = a*b;  
print(c)

[ 2  8 18 32 50 72 98]

In [23]:
import numpy as np  
a = np.array([1,2,3,4,5,6,7])  
b = np.array([2,4,6,8,10,12,14,19])  
c = a*b;  
print(c)

ValueError: operands could not be broadcast together with shapes (7,) (8,)

In [24]:
import numpy as np  
a = np.array([[1,2,3,4],[2,4,5,6],[10,20,39,3]])  
b = np.array([2,4,6,8])  
print("\nprinting array a..")  
print(a)  
print("\nprinting array b..")  
print(b)  
print("\nAdding arrays a and b ..")  
c = a + b;  
print(c)

printing array a..
[[ 1  2  3  4]
 [ 2  4  5  6]
 [10 20 39  3]]

printing array b..
[2 4 6 8]

Adding arrays a and b ..
[[ 3  6  9 12]
 [ 4  8 11 14]
 [12 24 45 11]]

In [28]:
import numpy as np  
a = np.array([[1,2,3,4],[2,4,5,6],[10,20,39,3]])  
print("Printing array:")  
print(a);  
print("Iterating over the array:")  
for x in np.nditer(a):  
    print(x,end=' ')
for x in a:
    print(x," ")

Printing array:
[[ 1  2  3  4]
 [ 2  4  5  6]
 [10 20 39  3]]
Iterating over the array:
1 2 3 4 2 4 5 6 10 20 39 3 [1 2 3 4]
[2 4 5 6]
[10 20 39  3]

In [32]:
import numpy as np  
a = np.array([[1,2,3,4],[2,4,5,6],[10,20,39,3]])  
print("Printing the array:")  
print(a)  
print("Printing the transpose of the array:")  
at = a.T  
print(at)  
  
#this will be same as previous   
for x in np.nditer(at):  
    print("Iterating over the array:",x)  
for x in np.nditer(a):
    print(x,end=' ')

Printing the array:
[[ 1  2  3  4]
 [ 2  4  5  6]
 [10 20 39  3]]
Printing the transpose of the array:
[[ 1  2 10]
 [ 2  4 20]
 [ 3  5 39]
 [ 4  6  3]]
Iterating over the array: 1
Iterating over the array: 2
Iterating over the array: 3
Iterating over the array: 4
Iterating over the array: 2
Iterating over the array: 4
Iterating over the array: 5
Iterating over the array: 6
Iterating over the array: 10
Iterating over the array: 20
Iterating over the array: 39
Iterating over the array: 3
1 2 3 4 2 4 5 6 10 20 39 3

In [40]:
import numpy as np  
a = np.array([[1,2,3,4],[2,4,5,6],[10,20,39,3]])  
print("\nPrinting the array:\n")  
print(a)    
print("\nPrinting the transpose of the array:\n")  
at = a.T    
print(at)   
print("\nIterating over the transposed array\n")  
for x in np.nditer(at):  
    print(x, end= ' ')  
print("\nPrinting the transposed array in C-style:\n")  
c = at.copy(order = 'C')  
print(c)  
print("\nIterating over the C-style array:\n")  
for x in np.nditer(c):  
    print(x,end=' ')  
d = at.copy(order = 'F')  
print(d)  
print("Iterating over the F-style array:\n")  
for x in np.nditer(d):  
    print(x,end=' ')

Printing the array:

[[ 1  2  3  4]
 [ 2  4  5  6]
 [10 20 39  3]]

Printing the transpose of the array:

[[ 1  2 10]
 [ 2  4 20]
 [ 3  5 39]
 [ 4  6  3]]

Iterating over the transposed array

1 2 3 4 2 4 5 6 10 20 39 3
Printing the transposed array in C-style:

[[ 1  2 10]
 [ 2  4 20]
 [ 3  5 39]
 [ 4  6  3]]

Iterating over the C-style array:

1 2 10 2 4 20 3 5 39 4 6 3 [[ 1  2 10]
 [ 2  4 20]
 [ 3  5 39]
 [ 4  6  3]]
Iterating over the F-style array:

1 2 3 4 2 4 5 6 10 20 39 3

In [41]:
import numpy as np  
  
a = np.array([[1,2,3,4],[2,4,5,6],[10,20,39,3]])  
  
print("\nPrinting the array:\n")  
  
print(a)  
  
print("\nPrinting the transpose of the array:\n")  
at = a.T  
  
print(at)  
  
print("\nIterating over the transposed array\n")  
  
for x in np.nditer(at):  
    print(x, end= ' ')  
print("\nprinting the transposed array in C-style:\n")  
  
print("\nIterating over the C-style array:\n")  
for x in np.nditer(at, order = 'C'):  
    print(x,end=' ')

Printing the array:

[[ 1  2  3  4]
 [ 2  4  5  6]
 [10 20 39  3]]

Printing the transpose of the array:

[[ 1  2 10]
 [ 2  4 20]
 [ 3  5 39]
 [ 4  6  3]]

Iterating over the transposed array

1 2 3 4 2 4 5 6 10 20 39 3
printing the transposed array in C-style:


Iterating over the C-style array:

1 2 10 2 4 20 3 5 39 4 6 3

In [38]:
import numpy as np  
  
a = np.array([[1,2,3,4],[2,4,5,6],[10,20,39,3]])  
  
print("\nPrinting the original array:\n")  
  
print(a)  
  
print("\nIterating over the modified array\n")  
  
for x in np.nditer(a, op_flags = ['readwrite']):  
    x[...] = 3 * x;  
    print(x,end = ' ')

Printing the original array:

[[ 1  2  3  4]
 [ 2  4  5  6]
 [10 20 39  3]]

Iterating over the modified array

3 6 9 12 6 12 15 18 30 60 117 9